<div class="top-downloads">
    <div class="download-picture">
        <img src="Images/downlads-picture.svg" alt="Picture of two phones with management and calander.">
    </div>

    <div class="download-text">
        <h1>
            Download Our App for Any Device
        </h1>

        <div class="store-texts">
            <div class="app-store">
                <h6>App Store</h6>
                <img src="Images/Icons/star.svg" alt="Star" class="appstore-star" />
                <img src="Images/Icons/star.svg" alt="Star" class="appstore-star" />
                <img src="Images/Icons/star.svg" alt="Star" class="appstore-star" />
                <img src="Images/Icons/star.svg" alt="Star" class="appstore-star" />
                <img src="Images/Icons/star.svg" alt="Star" class="appstore-star" />
                <p class="choice">Editor's Choice</p>
                <p>rating 4.7, 187K+ reviews</p>
                <img src="Images/Icons/appstore.png" alt="">
            </div>

            <div class="google-store">
                <h6>Google Play</h6>
                <img src="Images/Icons/star.svg" alt="Star" class="appstore-star" />
                <img src="Images/Icons/star.svg" alt="Star" class="appstore-star" />
                <img src="Images/Icons/star.svg" alt="Star" class="appstore-star" />
                <img src="Images/Icons/star.svg" alt="Star" class="appstore-star" />
                <img src="Images/Icons/star.svg" alt="Star" class="appstore-star" />
                <p class="choice">App of the Day</p>
                <p>rating 4.8, 30K+ reviews</p>
                <img src="Images/Icons/googleplay.png" alt="">
            </div>
        </div>
    </div>
</div>


@code {

}
