<section id="Features" class="top-tools">
    <div class="tools-header">
        <h1 class="tool-header-text">What Do You Get with Our Tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
    </div>

    <div class="tools-body">
        <a href="" class="link-card">
            <img src="Images\Icons\chat.svg" alt="Comments on Tasks">
            <h4>Comments on Tasks</h4>
            <p>Id mollis consectetur congue egestas<br> egestas suspendisse<br>  blandit justo.</p>
        </a>

        <a href="" class="link-card">
            <img src="Images\Icons\presentation.svg" alt="Tasks Analytics">
            <h4>Tasks Analytics</h4>
            <p>Non imperdiet facilisis nulla tellus Morbi<br>  scelerisque eget<br>  adipiscing vulputate.</p>
        </a>

        <a href="" class="link-card">
            <img src="Images\Icons\add-group.svg" alt="Multiple Assignees">
            <h4>Multiple Assignees</h4>
            <p>A elementum, imperdiet enim,<br>  pretium etiam facilisi<br>  in aenean quam mauris.</p>
        </a>

        <a href="" class="link-card">
            <img src="Images\Icons\bell.svg" alt="Notifications">
            <h4>Notifications</h4>
            <p>Diam, suspendisse velit cras ac. <br> Lobortis diam volutpat,<br>  eget pellentesque viverra.</p>
        </a>

        <a href="" class="link-card">
            <img src="Images\Icons\test.svg" alt="Sections & Subtasks">
            <h4>Sections & Subtasks</h4>
            <p>Mi feugiat hac id in. <br> Sit elit placerat lacus nibh<br> lorem ridiculus lectus.</p>
        </a>

        <a href="" class="link-card">
            <img src="Images\Icons\shield.svg" alt="Data Security">
            <h4>Data Security</h4>
            <p>Aliquam malesuada neque eget<br>  elit nulla vestibulum nunc cras.</p>
        </a>
    </div>
</section>

@code {

}
