<div id="Managework" class="top-managework">
    <div class="management-picture">
        <img src="Images/management-picture.svg" alt="Management picture">
    </div>

    <div class="manage-list">
        <div class="manage-title">
            <h3>Manage Your Work</h3>
        </div>

        <ul>
            <li><img src="Images/Icons/bx-check-circle.png" alt="Checkmark circle" />Powerful project management</li>
            <li><img src="Images/Icons/bx-check-circle.png" alt="Checkmark Circle" />Transparent work management</li>
            <li><img src="Images/Icons/bx-check-circle.png" alt="Checkmark Circle" />Manage work & focus on the most important tasks</li>
            <li><img src="Images/Icons/bx-check-circle.png" alt="Checkmark Circle" />Track your progress with interactive charts</li>
            <li><img src="Images/Icons/bx-check-circle.png" alt="Checkmark Circle" />Easiest way to track time spent on tasks</li>
        </ul>

        <div class="center-button">
            <button class="btn-theme"> Learn More <i class="fa-sharp fa-regular fa-arrow-right" style="color: #ffffff"></i> </button>
        </div>
    </div>
</div>

@code {

}
