<section id="Showcase" class="top-management">
    <div class="management-left">
        <h1>Task Management Assistant You Gonna Love</h1>
        <p>We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
        <div class="center-button">
            <button class="btn-theme-s">Get started for free</button>
        </div>
        <h3>Largest companies use our tool to work efficiently</h3>
        <div class="center">
            <img src="Images/Brands/logoipsum.svg" alt="Logo 1">
            <img src="Images/Brands/logoipsum-1.svg" alt="Logo 2">
            <img src="Images/Brands/logoipsum-2.svg" alt="Logo 3">
            <img src="Images/Brands/logoipsum-3.svg" alt="Logo 4">
        </div>
    </div>

    <div class="management-right">
        <img src="Images/Dashboard.svg" alt="Task management assasistant">
    </div>
</section>

@code {

}
